
.section-title {
  /* Headline 4 - Bold */
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;
  color: #00218a;
}